# http://manual.macromates.com/en/language_grammars

name: "Pollen"
scopeName: "source.pollen"
fileTypes: [
  "pm",
  "pp",
  "ptree",
  "p"
]
firstLineMatch: "^#lang\\s+pollen$"
patterns: [
  # match single-line comment before multiline
  {
    match: "∞;[^\\|\\{].*$"
    name: "comment.line.semicolon.pollen"
  }
  {
    begin: "∞;"
    end: "\\s"
    patterns: [
      { include: "#special_brace" }
      { include: "#braces" }
    ]
    name: "comment.multiline.pollen"
  }
  {
    begin: "∞[^\\s\\{\\}\\(\\)\\[\\]#\\|,\"]+"
    end: "\\s"
    beginCaptures: {
      0: { name: "entity.name.tag.pollen" }
    }
    patterns: [
      { include: "#racket_args" }
      { include: "#braces" }
      { include: "#special_brace" }
    ]
  }
  {
    begin: "∞\\("
    end: "\\)"
    patterns: [
      {
        match: "(define-meta)|(when/splice)|(get-doc)|(get-metas)|(select\\*)|(select-from-doc)|(select-from-metas)|(select)"
        name: "keyword.other.pollen"
      }
      { include: "source.racket" }
    ]
  }
]
repository:
  braces:
    begin: "\\{"
    beginCaptures: {
      0: { name: "punctuation.block.begin.pollen" }
    }
    end: "\\}"
    endCaptures: {
      0: { name: "punctuation.block.end.pollen" }
    }
    patterns: [
      { include: "#braces" }
      { include: "$self" }
    ]
  # no command char will be interpreted inside special_brace
  # braces don't need to be balanced inside special_brace
  # special_brace must be kept balanced
  special_brace:
    begin: "\\|\\{"
    end: "\\}\\|"
    beginCaptures: {
      0: { name: 'punctuation.block.special_begin.pollen' }
    }
    endCaptures: {
      0: { name: 'punctuation.block.special_end.pollen' }
    }
    patterns: [
      { include: "#special_brace" }
      # don't include "$self" here because unbalanced parens are allowed.
    ]
  racket_args:
    begin: "\\["
    end: "\\]"
    patterns: [
      { include: "source.racket" }
    ]
