# http://manual.macromates.com/en/language_grammars

name: "Pollen"
scopeName: "source.pollen"
fileTypes: [
  "pm",
  "pp",
  "ptree",
  "p"
]
firstLineMatch: "^#lang pollen$"
patterns: [
  {
    match: "◊\\s+"
    name: "invalid.illegal"
  }
  {
    begin: "◊;\\{"
    end: "\\}"
    name: "comment.multiline.pollen"
    patterns: [
      { include: "#braces" }
    ]
  }
  {
    begin: "◊;\\|\\{"
    end: "\\}\\|"
    name: "comment.multiline.pollen"
    patterns: [
      { include: "#braces" }
    ]
  }
  {
    match: "(◊;)[^\\{].*$"
    captures:
      "1":
        name: "punctuation.definition.comment.pollen"
    name: "comment.line.semicolon.pollen"
  }
  {
    begin: "(◊[^\\s\\{\\}\\(\\)\\[\\]#\\|,\"]+)(\\{)"
    beginCaptures: {
      1: { name: 'entity.name.function.pollen' }
      2: { name: 'punctuation.block.begin' }
    }
    end: "\\}"
    endCaptures: {
      0: { name: 'punctuation.block.end' }
    }
    name: 'meta.block.pollen'
    patterns: [
      { include: "#braces" }
    ]
  }
  {
    match: "◊[^\\s\\{\\}\\(\\)\\[\\]#\\|,\"]+"
    captures: {
      0: { name: 'entity.name.function.pollen' }
    }
  }
  {
    begin: "◊"
    end: "\\s|\\n"
    patterns: [
      { include: "source.racket" }
    ]
  }
]
repository:
  braces:
    begin: "\\{"
    end: "\\}"
    patterns: [
      {
        include: "#braces"
      }
      {
        include: "$self"
      }
    ]
